*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h2{
  font-size: 30px;
  padding-left: 30px;
  padding-top: 5px;
  font-family: "Gill Sans Extrabold", sans-serif;
}
span{
  color: orange;
}
h2{
  color: black;
}
body{
  font-family: sans-serif;
}
body p{
  margin-left: 30px;
  font-style: italic;
  margin-top: 4px;
}
body p a{
  color: orange;
  text-decoration: none;
}
.container{
  width: 95%%;
  margin: 2px;
  padding: 30px;
  display: inline-grid;
}
.top-container img{
  width: 300px;
  height: 200px;
  float: left;
  object-fit: cover;
  shape-outside: margin-box;
  margin: 0 10px 5px 0;
}
.avant{
  background: grey;
  width: 95%;
  height: 50%;
  margin-left: 30px;
}
.avant a{
  text-decoration: none;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background: black;
}
.avant input{
  float: right;
  margin-right: 40px;
  height: 30px;
  margin-top: 4px;
  border-radius: 10px;
  border: none;
  width: 20%;
}

footer{
  background: black;
  height: 180px;
  width: 95%;
  margin-left: 30px;
  padding: 0;
  position: relative;
}
footer h1{
  padding-left: 30px;
  padding-top: 5px;
  margin-bottom: 5px;
}
footer p a{
  text-decoration: none;
  color: blue;
  font-style: italic;
}
footer ol{
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
footer ol a{
  list-style: none;
  color: orange;
  padding-left: 30px;
  text-decoration: none;
}
h1{
  color: #fff;
  font-size: 20pt;;
}
h1 span{
  color: orange;
}
footer p{
  color: #fff;
}
p span{
  color: orange;
}
